---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { CallToAction, Widget } from '~/types';
import Headline from '~/components/ui/Headline.astro';
import Button from '~/components/ui/Button.astro';

interface Props extends Widget {
  title?: string;
  subtitle?: string;
  tagline?: string;
  callToAction?: CallToAction;
  actions?: string | CallToAction[];
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  actions = await Astro.slots.render('actions'),

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <div
    class="max-w-4xl mx-auto text-center"
  >
    <Headline
      title={title}
      subtitle={subtitle}
      tagline={tagline}
      classes={{
        container: 'mb-0 md:mb-0',
        title: 'text-3xl md:text-4xl font-bold tracking-tight mb-4 font-heading text-gray-900 dark:text-white',
        subtitle: 'text-lg md:text-xl text-gray-600 dark:text-gray-300 leading-relaxed mb-8',
      }}
    />
    {
      actions && (
        <div class="flex flex-wrap sm:flex-nowrap justify-center gap-4 sm:gap-6">
          {Array.isArray(actions) ? (
            actions.map((action) => (
              <div class="flex w-auto">
                <Button {...(action || {})} class="w-auto" />
              </div>
            ))
          ) : (
            <Fragment set:html={actions} />
          )}
        </div>
      )
    }
  </div>
</WidgetWrapper>
